<%# app/views/password_resets/edit.html.erb %>

<h2>Choose a new password</h2>

<% if @user && @user.errors.any? %>
  <div id="error_explanation" class="alert alert-danger">
    <ul class="mb-0">
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_with(url: password_reset_path(params[:token]), method: :patch) do |form| %>
  <%# ... your form fields for password and password_confirmation ... %>

  <%= form.label :password %>
  <%= form.password_field :password %>

  <%= form.label :password_confirmation %>
  <%= form.password_field :password_confirmation %>

  <%= form.submit "Reset Password" %>
<% end %>