<%= form_with model: [@workspace, @item], local: true do |f| %>
  <div>
    <%= f.label :name, "Item Name" %><br>
    <%= f.text_field :name, required: true %>
  </div>

  <div>
    <%= f.label :quantity, "Quantity" %><br>
    <%= f.number_field :quantity, min: 0, required: true %>
  </div>

  <div>
    <%= f.label :start_time, "Available From" %><br>
    <%= f.time_select :start_time, minute_step: 15 %>
  </div>

  <div>
    <%= f.label :end_time, "Available Until" %><br>
    <%= f.time_select :end_time, minute_step: 15 %>
  </div>

  <br>
  <%= f.submit "Confirm", class: "btn-primary" %>
<% end %>

<% if @item.persisted? %>
  <%= form_with model: [@workspace, @item], method: :delete, local: true do |f| %>
    <%= f.submit "Delete", data: { confirm: "Are you sure you want to delete this item?" }, class: "btn-danger" %>
  <% end %>
<% end %>